#graph {
    height: 100%;
    width: 100%;
}

.arrow {
    stroke-width:5;
    stroke:#000;
    stroke-dasharray:5, 5;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
