.node-property-list {
    float:top;
    display: flex;
    height: 200px;
    width: 100%;
}

.fixed-height-container {
    overflow: scroll;
    float:top;
    height: 200px;
    width:40%;
    padding:3px;
    background:white;
}

.kv-table {
    width: 100%;
    background: white
}

.Content
{
    height:224px;
    overflow:auto;
    background:yellow;
}


.breadcrumb > li + li:before {
    color: #ccc !important;
    content: "> " !important;
    padding: 0 5px !important;
}

.breadcrumb {
    margin: 5px 0 0 0 !important;
}

.path-heading {
    margin-top: 6px;
    color: rgb(51, 51, 51);
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    line-height: 20px;
    vertical-align: bottom;
    letter-spacing: normal;
    word-spacing: 0;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    text-indent: 0;
}

.datatable{
    height: 100%;
    width: 100%;
}

.datatable .row{
    margin-right: 0;
    margin-left: 0;
}

.prop-table-wrapper {
    padding: 0.4rem;
}

.prop-table-wrapper table {
    border-spacing: 0;
    border: 1px solid black;
    width: 100%;
}

.prop-table-wrapper th,td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    line-height: 0.8rem;
}

.pagination {
    padding: 0.5rem;
}

.pagination-controls {
    margin: auto;
}